<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Dashboard</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div class="container">
    <div class="grid-container">
        <div class="grid-item">
            <div class="icon">
                <i class="fas fa-user-md"></i>
            </div>
            <h2>Pacjenci</h2>
            <a href="/patients" class="button">Zarządzaj Pacjentami</a>
        </div>
        <div class="grid-item">
            <div class="icon">
                <i class="fas fa-calendar-alt"></i>
            </div>
            <h2>Wizyty</h2>
            <a href="/visits" class="button">Zarządzaj Wizytami</a>
        </div>
        <div class="grid-item">
            <div class="icon">
                <i class="fas fa-pills"></i>
            </div>
            <h2>Leki</h2>
            <a href="/medications" class="button">Zarządzaj Lekami</a>
        </div>
        <div class="grid-item">
            <div class="icon">
                <i class="fas fa-chart-line"></i>
            </div>
            <h2>Raporty</h2>
            <a href="/reports" class="button">Generuj Raporty</a>
        </div>
        <div class="grid-item">
            <div class="icon">
                <i class="fas fa-cogs"></i>
            </div>
            <h2>Ustawienia</h2>
            <a href="/settings" class="button">Ustawienia Konta</a>
        </div>
    </div>
</div>
</body>
</html>
